<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>E-mail com nova senha - ${nometpe}</title>
        <style>
            body {
                font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
            }

            table {
                border-spacing: 0;
                border-collapse: collapse;
            }

            th {
                vertical-align: bottom;
                border-bottom: 2px solid #ddd;
                padding: 8px;
                text-align: left;
            }
            td {
                padding: 8px;
                border-top: 1px solid #ddd;
                vertical-align: top;
            }
        </style>
    </head>
<body>

	<div>
		Olá ${nome}
		<p>sua nova senha é: ${senha}</p>
		<p>Não esqueça de alterar no seu próximo login.</p>
		<p>Atenciosamente,</p>
		
		<p>${nometpe}</p>
	</div>
</body>
